<div class="content">
  <div class="history">
    <h1>Verlauf</h1>
    <table>
      <thead>
        <tr>
          <th>Spieler 1</th>
          <th>Spieler 2</th>
          <th>Ausgang</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        <!-- ruft Methode "get history()" in "history.components.ts" auf, erhaelt ein Array, erstellt
             fuer jedes Element des Arrays (hier als "historyItem" bezeichnet) eine Tabellenzeile mit
             Datenfeldern, die Namen, Spielausgang und Datum auslesen -->
        <tr *ngFor="let historyItem of history; let i = index">
          <td>{{ historyItem.player1 }}</td>
          <td>{{ historyItem.player2 }}</td>
          <td>{{ historyItem.state }}</td>
          <td>{{ historyItem.timestamp }}</td>
        </tr>
      </tbody>
    </table>
    <div class="btnContainer">
      <!-- ueber "routerLink" wird der entsprechende Pfad angesprochen,
       der zuvor im Router-Modul "app-routing.module.ts" definiert
       wurde -->
      <!-- das Attribut "mat-raised-button" greift auf ein Designelement
           von Angular-Material zu -->
      <button id="start" routerLink="/game" mat-raised-button>
        Spiel starten
      </button>
      <button id="settings" routerLink="/" mat-raised-button>
        Einstellungen
      </button>
    </div>
  </div>
</div>
