h1{
  text-align: center;

}
table{
  max-width: 500px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;    
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.history{
  margin-top: 40px;
  max-width: 500px;
}

#start{
  background-color: #53619e;
  color: white;
}


#start, #settings{
  width: 60%;
  display: block;
  margin: auto;
}

.btnContainer{
  margin-top: 30px;
}