<div class="content">
  <div class="welcome-text">
    <h1>Willkommen!</h1>
    <p>
      Herzlich Willkommen zu TicTacToe! Es treten zwei Spieler gegeneinander an, die im Wechsel ihre Figuren platzieren.
      Der beginnende Spieler ist 'X', der andere 'O'. Ziel von TicTacToe ist es als erstes drei eigenen Figuren in einer Reihe zu setzen.
      Dies kann vertical, horizontal und diagonal geschehen.
    </p>
    <p>
      Im Folgenden kann ausgew&auml;hlt werden, ob gegen den Computer oder gegen eine zweite Person gespielt werden soll.
      Darunter k&ouml;nnen die beiden Spieler benannt werden. Die Namen werden verwendet, um anzuzeigen welcher Spieler an der Reihe ist und
      um den Verlauf der letzten Spiele darzustellen.
    </p>
  </div>

  <div class="settings">
    <h2>Optionen</h2>
    <mat-button-toggle-group id="btnGroup">
      <mat-button-toggle id="pvAiBtn" checked (click)="ai(true)"
        >Spieler gegen Computer</mat-button-toggle
      >
      <mat-button-toggle id="pvpBtn" (click)="ai(false)"
        >Spieler gegen Spieler</mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-form-field id="p1Input">
      <mat-label>Spieler 1</mat-label>
      <input
        matInput
        type="text"
        value="Spieler 1"
        [formControl]="player1"
        (change)="namePlayer1()"
      />
    </mat-form-field>
    <mat-form-field id="p2Input">
      <mat-label>Spieler 2</mat-label>
      <input
        matInput
        type="text"
        value="Spieler 2"
        [formControl]="player2"
        (change)="namePlayer2()"
      />
    </mat-form-field>
    <button id="start" routerLink="/game" mat-raised-button>
      Spiel starten
    </button>
    <button id="history" routerLink="/history" mat-raised-button>
      Verlauf
    </button>
  </div>
</div>

