.board {
  display: grid;
  background-color: #f4f4f4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 72vh;
  height: 72vh;
  margin: auto;
  margin-top: 40px;
}

.field {
  font-size: 24vh;
  text-align: center;
  background-color: tomato;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.field p {
  padding-top: 12vh;
}

#resetGame {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #53619e;
  color: white;
  width: 35vh;
  visibility: visible;
}

#heading {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 1080px) {
  .board {
    width: 72vw;
    height: 72vw;
  }
  .field {
    font-size: 24vw;
  }

  .field p {
    padding-top: 12vw;
  }

  #resetGame {
    width: 35vw;
  }
}
