.topmenu {
  position: sticky;
  top: 0;
}

.topmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #22376f;
}

.topmenu li {
  float: left;
}

.topmenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline: none;
}

.topmenu li a:hover {
  transition: 0.5s;
  background-color: #53619e;
}
