<h2 mat-dialog-title>Ende!</h2>
<mat-dialog-content>Spiel ist vorbei! Jemand hat vllt gewonnen!</mat-dialog-content>
<mat-dialog-actions id="btnGroup">
    <button mat-button mat-dialog-close>Schließen</button>
    <button id="historyBtn" routerLink="/history" mat-button mat-dialog-close>Verlauf</button>
</mat-dialog-actions>
<!-- <h1>{{data.state}}</h1> -->
<!-- <button mat-button mat-dialog-close>Schließen</button> -->
<!-- <button id="newGameBtn" routerLink="/game" mat-raised-button>Neues Spiel</button> -->
<!-- <button id="resetGame" (click)="resetGame()">Spiel zur&uuml;cksetzen</button> -->
<!-- <button id="historyBtn" routerLink="/history" mat-raised-button>Verlauf</button> -->